<p>error-page works!</p>

<ul>
  <li>
    <a routerLink="login">
      Ir a Login</a>
  </li>
</ul>
<ul>
  <li>
    <a routerLink="/auth/registro"  >
      Ir a registro</a>
  </li>
</ul>
<ul>
  <li>
    <a routerLink="/heroes/listado"  >
      Ir a listado héroes</a>
  </li>
</ul>
<ul>
  <li>
    <a routerLink="/heroes/agregar"  >
      Ir a agregar héroes</a>
  </li>
</ul>
<ul>
  <li>
    <a routerLink="/heroes/listado"  >
      Ir a editar héroes</a>
  </li>
</ul>
<ul>
  <li>
    <a routerLink="/heroes/buscar"  >
      Ir a buscar héroes</a>
  </li>
</ul>

<router-outlet></router-outlet>
