

<mat-sidenav-container fullscreen>
  <span id="moveTop"></span>

  <mat-sidenav #sidenav mode="push">
    <mat-toolbar>
      <span>Menú</span>
      <span class="spacer" ></span>
      <button (click)="sidenav.toggle()"
              mat-icon-raised-button >
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <a routerLink="home"
         mat-list-item
         (click)="sidenav.toggle()">
         <mat-icon mat-list-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a routerLink="listado"
         mat-list-item
         (click)="sidenav.toggle()">
         <mat-icon mat-list-icon>chevron_right</mat-icon>
        <span>Listado de Héroes</span>
      </a>
      <a routerLink="agregar"
         mat-list-item
         (click)="sidenav.toggle()">
         <mat-icon mat-list-icon>add</mat-icon>
        <span>Añadir Héroes</span>
      </a>
      <a routerLink="listado"
         mat-list-item
         (click)="sidenav.toggle()">
         <mat-icon mat-list-icon>search</mat-icon>
        <span>Buscar Héroes</span>
      </a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-toolbar>
    <button (click)="sidenav.toggle()"
            mat-stroked-icon-button >
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer" ></span> <!-- Mantiene a la derecha botón cerrar cesión-->
    <button mat-raised-button
            color="warn">
        <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
